@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");

html {
    scroll-behavior: smooth;
    background-color: #FAEDC7;
}


body {
 font-family: 'Noto Serif TC', serif;
}
nav {
    width: 100%;
    height: 70px;
    background-color: #3D2705;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    opacity: 0.9;
    -webkit-box-shadow: 0px 1px 20px #6B6B6B;
    box-shadow: 0px 1px 20px #6B6B6B;
    z-index: 1000;
}
nav h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 800;
}
nav ul li {
  display: inline;
  margin-left: 10px;
}
nav a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
}
nav a:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
}
nav a:hover {
    color: #EB9362;
    text-decoration: none;
    font-size: large;
}
nav ul {
  margin-right: 20px;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(assets/hero.jpg);
  background-size: cover;
  background-position: 0% center;
}
header h1 {
    color: #361C0B;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 70px;
    line-height: 95px;
}
header a:link {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    background-color: #D4866C;
    border-radius: 35px;
    font-size: 22px;
    color: #7B0303;
    text-decoration: none;
}
header a:visited {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    background-color: #F78B67;
    border-radius: 35px;
    font-size: 22px;
    color: #7B0303;
    text-decoration: none;
}
header a:hover {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    background-color: #D94D29;
    border-radius: 35px;
    font-size: 22px;
    color: #F4F4F4;
    text-decoration: none;
    font-weight: bold;
}

article {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}
article h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 40px;
  font-weight: 600;
}
.course {
    background-image: url(assets/programBG.jpg);

}
.container1 {
    display: flex;
    width: 90%;
    height: 460px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    opacity: 1;
}

.container1 .left {
    flex: 1.5;
    letter-spacing: 1px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.container1 .left .p1 {
    background-color: rgba(235,169,170,1.00);
    width: 100%;
    border-radius: 15px;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    flex: 2;
    margin-bottom: 5px;
}
.container1 .left .p3 {
    background-color: rgba(124,194,120,1.00);
    width: 100%;
    border-radius: 15px;
    flex: 1;
    font-size: 80%;
}

.container1 .left .p2 {
    background-color: rgba(231,219,124,1.00);
    width: 100%;
    border-radius: 15px;
    flex: 1;
    margin-bottom: 5px;
}



.container1 .right {
    flex: 1;
    background-image: url(general.png);
    border-radius: 20px;
    margin-left: 10px;
    background-position: 55% 70%;
    background-repeat: no-repeat;
}
article p {
  text-align: center;
  font-size: 18px;
}
.container2 {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    margin-top: 20px;
    flex: 1;
}
.container2 .col01 {
    flex: 1;
    background-image: url(image/%E6%80%A7%E5%82%BE%E5%90%91Sexual%20orientation.jpg);
















































    background-size: 400%
%;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    color: rgba(71,51,21,1.00);
    height: 200px;
    background-position: -4% -6.5%;
}
.container2 .col02 {
    flex: 1;
    background-image: url(image/%E6%80%A7%E5%88%A5%E8%AA%8D%E5%90%8CGender%20identity.jpg);
    background-size: auto auto;
    margin: 5px;
    border-radius: 10px;
    align-items: flex-end;
    display: flex;
    -webkit-transition: all 2300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    height: 200px;
    background-position: -5% 38.5px;
}
.container2 .col03 {
    flex: 1;
    background-image: url(image/%E6%80%A7%E5%88%A5%E8%A1%A8%E7%8F%BEGender%20expression.jpg);
    margin: 5px;
    border-radius: 10px;
    background-size: auto auto;
    align-items: flex-end;
    display: flex;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    height: 200px;





















    background-position: 0%
%;
    background-position: 1.5%
%;
    background-position: 0%
%;
    background-position: 1.5%
%;
    background-position: 1.5%
%;
    background-position: -3.5% -4.5%;
}
.container2 .colT {
    background-color: #292929;
    opacity: 0;
    color: #FFFFFF;
    height: 200px;
    line-height: 40px;
    text-align: left;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    text-indent: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}



.col03:hover .colT {
    -webkit-opacity: 1;
    opacity: 1;
    text-align: left;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.col04:hover .colT {
    -webkit-opacity: 1;
    opacity: 1;
    text-align: left;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.container3 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    height: 300px;
}

.img:hover {
    transform: scale(1.05);
}
.container3 .img1 {
    background-image: url(image/yeh.jpg);
    background-repeat: no-repeat;
    flex: 1;
    background-position: 73% 8%;
    align-items: flex-end;
    display: flex;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}


footer {
    width: 100%;
    height: 60px;
    background-color: #454545;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    color: #E6E6E6;
    margin-left: auto;
    margin-right: auto;
}
nav a {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
header a {
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.col02:hover .colT {
    -webkit-opacity: 1;
    opacity: 1;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}
.container4 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container4 .iframe  {
    padding-left: 0px;
    padding-right: 5px;
}

.col01:hover .colT {
    -webkit-opacity: 1;
    opacity: 1;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.container2 .col01:hover {
  transform: translateY(-5px);
}
.container2 .col02:hover {
  transform: translateY(-5px);
}
.container2 .col03:hover {
  transform: translateY(-5px);
}
.container2 .col04:hover {
  transform: translateY(-5px);
}
.container2 .col04 {
    flex: 1;
    background-image: url(image/LGBT%E5%85%AC%E6%B0%91%E6%AC%8A%E5%88%A9.jpg);
    background-size: auto auto;
    margin: 5px;
    border-radius: 10px;
    align-items: flex-end;
    display: flex;
    -webkit-transition: all 2300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    height: 200px;























    background-position: - nan
%;
    background-position: -4
.% -5%;
    background-position: -6% -6%;
}

.container3 .title {
    background-color: rgba(160,84,25,0.87);
    height: 70px;
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
    color: rgba(59,19,19,1.00);
}
.story {
    width: 90%;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 15px;
    height: 168px;
    background-color: rgba(104,61,42,0.57);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 35px;
}

.container3 .img2 {
    flex: 1;
    background-image: url(image/ala%20kachuu.jpg);
    background-position: 5% 32%;
    align-items: flex-end;
    display: flex;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.container3 .img3 {
    flex: 1;
    background-image: url(image/star.jpg);
    align-items: flex-end;
    display: flex;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: 44% 0%;
    background-size: cover;
}
.container1 .left .p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}
.container5  {
    width: 100%;
    display: flex;
    height: 500px;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 0px;
}
.end {
    color: rgba(0,0,0,1.00);
    font-size: x-small;
    text-align: left;
    line-height: 15px;
    display: inline;
}
.img2.title:hover {

}
.y {
    margin-top: 300px;
}
